@import "./mixins/base.module.scss";
@import "./variables/variables";

.wrapper {
  @include wrapper();
  display: flex;
  flex-direction: row;

  .side_image {
    background-color: $grey;
    display: flex;
    justify-content: center;
    width: 65vw;

    .image {
      width: 80%;
    }
  }

  .form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .image {
      @include image();
      align-self: center;
    }

    .mini_form {
      margin-top: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;

      .password_visibility {
        display: flex;
        justify-content: center;
        .password_image {
          @include image();
          margin-left: 5px;
          align-self: center;
          width: $image-width * 0.35;
          cursor: pointer;
        }
      }

      .input {
        @include input(black);
        margin-top: 10px;
        margin-bottom: 5px;
        align-self: center;
      }

      .error {
        color: red;
      }

      .congratulations {
        align-self: center;
        width: 70%;
        color: green;
      }

      .button {
        @include button(black, white);
        margin-top: 5px;
        align-self: center;
      }
    }
  }

  .button_div {
    display: flex;
    flex-direction: column;
    align-self: center;

    .button_back {
      @include button(black, white);
      margin-top: 5px;
    }

    .button_reset {
      @include button(white, black);
      border: 2px black solid;
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    flex-direction: column;
    justify-content: space-evenly;

    .side_image {
      width: 100%;
    }

    .form {
      width: 100%;
      font-size: $p;

      .button_div {
        .button_back,
        .button_reset {
          font-size: $p * 0.85;
          width: $input-buttton-width * 0.85;
        }
      }

      .mini_form {
        .input {
          margin-bottom: 0px;
          margin-top: 10px;
          width: $input-buttton-width * 0.85;
        }

        .logo {
          width: $image-width * 0.8;
        }

        .button {
          margin-top: 25px;
          font-size: $p * 0.85;
          width: $input-buttton-width * 0.85;
        }
      }
    }
  }
}
