@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

// Colors
$grey: #fcfcfc;
$black: black;
$blue: blue;

// font
$font-family: "Source Sans Pro", sans-serif;
$h1: 30px;
$h2: 25px;
$h3: 22.5px;
$h4: 20px;
$p: 15px;
$helper-text: 12px;

// images
$image-width: 100px;
$border-width: 1.5px;
$input-buttton-width: 200px;

// general
$border-radius: 10px;
